{% extends "reserva.html" %}

{% block login %}
    <div class="menu-login">
        <div id="open_close-login">Inicia Sesión</div>
        <form id="login" action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <p>
                {{form.username.label}} <br>
                {{form.username(size=20)}} <br>
                {% for error in form.username.errors %}
                    <span style="color:blue">[{{error}}]</span>
                {% endfor %}                      
            </p>
            <p>
                {{form.password.label}} <br>
                {{form.password(size=20)}} <br>
                {% for error in form.password.errors %}
                    <span style="color:blue">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.remember()}} {{form.remember.label}} <br>
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    
    <a href="/signin" class="open_close-signin">Registrate</a>

    
    </div> 
{% endblock %}